
.formulario{
    background-color: #a29f9f75;
    width: 60vw;
    height: 65vh; 
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    font-family: var(--font-poppins);
    
}

.bandeira-background{
    width: 35%;
    height: 100%;
    background-image: url("../image/bandeira-Brasil-backG.png");
    background-size: cover;
}


.container-moedas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;

} 

.moedas{
    width: 90%;
    height: 6vh;
    background-color: transparent;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #010101c3;
    border: 1px solid #01010141;
    font-family: var(--font-poppins);
    font-weight: 400;
    
}

.moedas:focus{
    border: 1px solid rgba(4, 180, 4, 0.786);

}

.moedas:hover{
    background-color: #a29f9f75;
    transition: 0.5s;
        
}

.selecao-moeda{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%; 
}


.bandeira-position{
    width: 30%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}

.bandeira-americana{
    background-image: url("../image/bandeira-americana.png");

}

.bandeira-canadiana{
    background-image: url("../image/bandeira-canadar.png");
}

.bandeira-australiana{
    background-image: url("../image/bandeira-australiana.png");
}

.bandeira-japonesa{
    background-image: url("../image/bandeira-japonesa.png");
}

.bandeira-europeia{
    background-image: url("../image/bandeira-europeia.png");
}

.moeda-bitcoin{
    background-image: url("../image/MoedaBitcoin.png");
}

.simbolo{
    margin-right: 10px;
    color: #01010182;
}




/* Moedas */
@media screen and (max-width:500px){
    .formulario{
        background-color: transparent;
        width: 100vw;
        height: 80vh; 
        display: flex;
        position: relative;
        top: 0%;
        left: 0%;
        transform: none; 
        margin-bottom: 10px;
        
    }
    
    .bandeira-background{
        display: none;
    }

    .container-moedas{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        
    } 

    .moedas{
        font-size: 0.8rem;
        margin: 10px;
    }

    .selecao-moeda{
        display: flex;
        align-items: center;
        width: 60%;
        height: 100%; 
    }

}