.section-form{
    background-color: rgba(97, 97, 97, 0.148);
    width: 60vw;
    height: 60vh;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bandeira-background{
    width: 35%;
    height: 100%;
    background-image: url("../image/bandeira-Brasil-backG.png");
    background-size: cover;
}


.formulario{
    width: 75%;
    height: 100%;
    
}

.moedas{
    width: 80%;
    height: 5vh;
    background-color: transparent;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     color: rgba(255, 255, 255, 0.763);
     border: 1px solid rgba(255, 255, 255, 0.226);
}


.selecao-moeda{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%; 
}


.bandeira-position{
    width: 30%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}

.bandeira-americana{
    background-image: url("../image/bandeira-americana.png");

}

.bandeira-canadiana{
    background-image: url("../image/bandeira-canadar.png");
}

.bandeira-australiana{
    background-image: url("../image/bandeira-australiana.png");
}

.bandeira-japonesa{
    background-image: url("../image/bandeira-japonesa.png");
}

.bandeira-europeia{
    background-image: url("../image/bandeira-europeia.png");
}

.moeda-bitcoin{
    background-image: url("../image/MoedaBitcoin.png");
}

.simbolo{
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.37);
}