header{
    display: none;
    background-color: rgba(255, 255, 255, 0.554);
    padding: 10px 0px;
    height: 12vh; 
}

.menubar{
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#title-header{
    font-size: 1rem;
}

#perfil img {
    width: 60px;
    border-radius: 50%;
}



/* Mobile */

@media  screen and (max-width:550px) {
    header{
        display: block;
    }
}