#painel {
    background-color: var(--bg-painel);
    width: 90%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 5px;
    margin: 20px 0px;

}

#painel-conversor {
    text-align: center;
    font-size: 2.5rem;
    color: var(--font-color-painel-input-borde);
}

input{
    width: 50%;
    font-size: 2em;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--font-color-painel-input-borde);
    outline: 0;
    color: var(--font-color-painel-input-borde);
    margin-bottom: 10px;
    text-align: center;
}

input::placeholder{
    color: var(--input-placeholder);
}






/* Mobile */
@media screen and (max-width: 550px){
    #painel {
        height: 25%;
        border-radius: 0.4rem;
        background-color: #ffffff5b;
        align-items: center;
        padding: 0px 20px;

    }

    #painel-conversor {
        font-size: 2rem;
        color: var(--color-painel-simbolos);
        
    }

    input{
        width: 90%;
        font-size: 2em;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid var(--color-painel-simbolos);
        outline: 0;
        color: var(--color-painel-simbolos);
        margin-bottom: 10px;
        text-align: start;
    }

    input::placeholder{
        color: var(--color-painel-simbolos);
    }
}