@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200;1,400&display=swap');

@import url(form.css);
@import url(header.css);
@import url(painel.css);

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --font-poppins:'Poppins', sans-serif;

    /* Desktop */
    /* body */
    --bg-body: #dfd9d9;


    /* Form */
    --form-bg-color: #a29f9f75;
    --font-moedas: #010101c3; 
    --color-borda-moedas: #01010141;
    --color-borda-moedas-focus: #04b404c8;
    --bg-color-hover: #a29f9f75;
    --font-color-simbolo: #01010181;

    /* Painel */
    --bg-painel: #01010123;
    --font-color-painel-input-borde: #010101c3;
    --input-placeholder: #01010163; 


    
    /* Mobile */
    /* Form */
    --color-font-moedas: #ffffff;
    --color-painel-simbolos:#ffffffd2;
    --bg-mobile-form:#6d6b6b80;

    /* Painel */
    
}


body{
    background-color: #dfd9d9;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: var(--font-poppins);
}

.social-midia{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0%;
    top: 34%;
}

.social-midia a{
    padding: 20px 8px;
}

.social-midia img{
    width: 75%;
}




/* Mobile */
@media screen and (max-width: 550px){
    body{
        background-image: url("../image/bandeira-Brasil-backG.png");
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: none;
        
    }

    .social-midia{
        display:  none;
    }
}